/* Main body */
.app {
  background-color: rgb(248, 242, 242);
  height: 100vh;
  display: grid;
  place-items: center;
}
/* center container */
.app_body {
  display: flex;
  background-color: rgb(228, 234, 236);
  height: 90vh;
  width: 90vw;
  box-shadow: 2px 1px 8px 1px #888888;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebar_search {
  display: flex;
  align-items: center;
  background-color: rgb(228, 234, 236);
  height: 39px;
  padding: 10px;
}
.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  height: 37px;
  border-radius: 20px;
}
input {
  margin-left: 10px;
  background-color: transparent;
  border: 0px solid;
  height: 30px;
  width: 260px;
}
input:focus {
  outline: none;
}
.SearchIcons {
  margin-left: 10px;
  color: black;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: grey;
}
.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.sidebar_headerRight {
  display: flex;
  margin-left: 40px;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
.sidebar_chats {
  flex: 1;
  background-color: rgb(228, 234, 236);
  overflow: scroll;
  margin-top: 12px;
}
.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 0.1px solid rgb(250, 240, 240);
}
.sidebarChat:hover {
  background-color: rgb(223, 232, 235);
}
.sidebarChat_info > h2 {
  font-size: 12px;
  margin-bottom: 8px;
}
.sidebarChat_info {
  margin-left: 22px;
}
a {
  text-decoration: none !important;
  color: black;
}
.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chat_header {
  background-color: rgb(228, 234, 236);
  padding-left: 20px;
  height: 70px;
  display: flex;
  align-items: center;
}
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat_headerInfo > p {
  color: gray;
}
.chat_msg {
  position: relative;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: white;
  margin-bottom: 30px;
}
.chat_name {
  position: absolute;
  top: -16px;
  color: rgb(41, 40, 40);
  font-size: 11px;
  font-weight: 610;
}
.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chat_receiver {
  margin-left: auto;
  background-color: rgb(214, 245, 214);
}
.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat_body {
  flex: 1;
  background-image: url(./Images/bg.png);
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background-color: rgb(228, 234, 236);
}
.chat_footer > form {
  flex: 1;
  display: flex;
}
.chat_footer > form > input {
  flex: 1;
  border-radius: 50px;
  padding: 10px;
  border: none;
  margin: 0 10px 0 30px;
}
button {
  border: none;
  margin-right: 10px;
}
.login {
  background-color: rgb(248, 242, 242);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.login_container {
  padding: 100px;
  text-align: center;
  background-color: rgb(228, 234, 236);
}
.login_container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}
.login_container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: green;
  box-shadow: 2px 5px 8px 4px #302f2f;
  color: black;
}
.login_container > button:hover {
  background-color: rgb(248, 242, 242);
}
